html {
  font-family: Avenir,Helvetica Neue,Helvetica,Arial,Hiragino Sans,ヒラギノ角ゴシック,YuGothic,Yu Gothic,メイリオ, MeiryoＭＳ Ｐゴシック,MS PGothic;
}

body {
  margin: 0;
}

div, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  list-style: none;
}